/* CSS BY DYLAN MCDANIEL */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ROOT VARIABLES */
:root {
    --dk-blue: #494FB5;
    --lt-blue: #6B8FE5;
    --yellow: #E8BA5A;
    --white: #fff;
    --pink: #D95578;
    --teal: #4AA0B8;
    --black: #000;

    --header-font: "Kavoon", "Brush Script MT", cursive;
    --body-font: Arial, sans-serif;

    --shadow: 5px 5px 3px var(--black);
}

/* GLOBAL STYLES (mobile first/small) */

body {
    background-color: var(--lt-blue);
    width: 100vw;
    font-family: var(--body-font);
    color: var(--black);
}

body h2 {
    font-size: 1.6rem;
    font-family: var(--header-font);
    color: var(--white);
}

body h3 {
    color: var(--yellow);
    font-size: 1.3rem;
    font-weight: bold;
}

body h4 {
    color: var(--dk-blue);
    font-size: 1.1rem;
    font-weight: bold;
}

header,
main,
footer {
    width: 22%;
    max-width: 450px;
    margin: 0 auto;
    background-color: var(--dk-blue);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    width: 100%;
    margin: 0;
}

header h1,
header p {
    margin-bottom: 10px;
    padding: 0 20px;
}

header h1 {
    font-family: var(--header-font);
    font-size: 2.7rem;
    margin-top: 40px;
}

header p {
    font-size: 0.7rem;
    font-style: italic;
}

nav {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    margin-top: 30px;
}

#menuhead {
    color: var(--black);
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-family: var(--body-font);
    font-size: 1.4rem;
}

nav ul,
nav li,
nav a {
    font-weight: bolder;
}

nav ul {
    list-style-type: none;
    width: 80%;
    text-align: center;
}

nav li {
    background-color: var(--white);
    margin: 8px 0;
    padding: 13px;
}

nav a {
    text-decoration: none;
    color: var(--dk-blue);
    text-transform: uppercase;
    font-size: 0.8rem;
}

main section {
    margin: 15px 0;
    padding: 0 15px;
}

main img {
    width: 100px;
    height: 100px;
    margin: 5px 0;
}

.bluecont {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 15px;
}

.bluecont h3 {
    margin: 6px 0;
}

.card {
    background-color: var(--white);
    border-radius: 20px;
    padding: 25px;
    line-height: 1.5;
    margin: 8px 10px;
}

.pinkcont {
    background-color: var(--pink);
    margin: 0 auto;

}

.pinkcont h2 {
    padding-top: 12px;
    padding-left: 12px;
}

#choose {
    display: flex;
    flex-direction: column;
    padding: 0;
}

#choose ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
}

#choose ul li {
    border-radius: 20px;
    color: var(--black);
    font-weight: bolder;
    text-align: center;
    font-size: 1.2rem;
    padding: 40px 0;
    height: 30px;
    width: 185px;
}

#choose ul li:nth-child(1) {
    background-color: var(--teal);
}

#choose ul li:nth-child(2) {
    background-color: var(--lt-blue);
}

#choose ul li:nth-child(3) {
    background-color: var(--yellow);
}

#choose ul li:nth-child(4) {
    background-color: var(--white);
}

#pricing table,
#pricing table tr,
#pricing table td {
    border: 2px solid var(--yellow);
}

#pricing table {
    width: 65%;
    margin: 0 auto;
}

#pricing table th {
    background-color: var(--yellow);
    color: var(--black);
    font-weight: bolder;
    font-size: 1.1rem;
    padding: 15px 20px;
    text-align: center;

}

#pricing table td {
    background-color: var(--white);
    color: var(--black);
    padding: 12px;
    text-align: left;
}

#firststep {
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

#firststep h2 {
    text-align: left;
}

#firststep p:first-of-type {
    color: var(--white);
    line-height: 1.5;
    margin: 8px 12px;
}

#firststep p:last-child {
    width: 85%;
    margin: 0 auto;
    box-shadow: var(--shadow);
    background-color: var(--white);
    border-radius: 15px;
    text-align: center;
    padding: 20px 0;
}

#firststep a {
    text-decoration: none;
    color: var(--black);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 0.8rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

footer a {
    text-decoration: underline;
    color: var(--white);
}

footer p {
    color: var(--white);
    font-size: 0.8rem;
    padding: 40px 0;
}

footer p:first-child {
    padding-left: 60px;
}

footer p:last-child {
    padding-right: 60px;
}